{
  "domain": "https://sandbox-api-XXX.metrc.com",
  "licenseNumber": "ABC-123",
  "metrc_software_api_key": "abcdefghijklmnopqrstuvwxyz1234567890",
  "metrc_user_api_key": "1234567890abcdefghijklmnopqrstuvwxyz"
}