{% extends './layout.html' %}

{% block body %}
  <form method='post' action='/packages/submit/create'>
    <div>
      <textarea name="payload" rows="20" cols="60">
        {
          "Tag": "ABCDEF01234567000001",
          "Item": "Buds",
          "Quantity": 16.0,
          "UnitOfMeasure": "Ounces",
          "IsProductionBatch": true,
          "ProductionBatchNumber": "PB-2017-12-19",
          "ProductRequiresRemediation": false,
          "ActualDate": "2017-12-19",
          "Ingredients": [
            {
              "Package": "ABCDEF01234567000002",
              "Quantity": 8.0,
              "UnitOfMeasure": "Ounces"
            },
            {
              "Package": "ABCDEF01234567000003",
              "Quantity": 8.0,
              "UnitOfMeasure": "Ounces"
            }
          ]
        }
      </textarea>      
    </div>
    <div>
      <input type="submit" value="Click Me" />
    </div>
  </form>
{% endblock %}