{% extends './layout.html' %}

{% block body %}
  <form method='post' action='/strains/submit/strain'>
    <div>
      <textarea name="payload" rows="20" cols="60">
        {
          "Name": "Spring Hill Kush",
          "TestingStatus": "None",
          "ThcLevel": 0.1865,
          "CbdLevel": 0.1075,
          "IndicaPercentage": 25.0,
          "SativaPercentage": 75.0
        }
      </textarea>      
    </div>
    <div>
      <input type="submit" value="Create Strain" />
    </div>
  </form>
{% endblock %}