{% extends "./layout.html" %}

{% block body %}
<h1>
  "metrc_wrapper" examples    
</h1>
<div>
  <div>
    <h3>
      Items
    </h3>
    <div>
      <a href="/items/active" target="_blank">Active Items</a>
    </div> 
    <div>
      <a href="/items/fetch" target="_blank">Fetch an Item</a>
    </div> 
    <div>
      <a href="/items/categories" target="_blank">Item Categories</a>
    </div> 
    <div>
      <a href="/items/create" target="_blank">Create Item</a>
    </div> 
    <div>
      <a href="/items/bulkcreate" target="_blank">Create Multiple Items</a>
    </div> 
    <div>
      <a href="/items/update" target="_blank">Update Item</a>
    </div>
    <div>
      <a href="/items/bulkupdate" target="_blank">Update Multiple Items</a>
    </div>  
    <div>
      <a href="/items/delete" target="_blank">Delete Item</a>
    </div> 
    <hr />
  </div>
  <div>
    <h3>
      Packages
    </h3>
    <div>
      <a href="/packages/all" target="_blank">All Packages</a>&nbsp(This may timeout)
    </div>  
    <div>
      <a href="/packages/active" target="_blank">Active Packages</a>
    </div>  
    <div>
      <a href="/packages/inactive" target="_blank">Inactive Packages</a>
    </div>  
    <div>
      <a href="/packages/onhold" target="_blank">Onhold Packages</a>
    </div>  
    <div>
      <a href="/packages/fetch" target="_blank">Fetch a Package</a>
    </div>  
    <div>
      <a href="/packages/create" target="_blank">Create Package</a>
    </div>    
    <div>
      <a href="/packages/bulkcreate" target="_blank">Create Multiple Packages</a>
    </div>    
    <div>
      <a href="/packages/createtesting" target="_blank">Create Testing Package</a>
    </div>    
    <div>
      <a href="/packages/bulkcreatetesting" target="_blank">Create Multiple Testing Packages</a>
    </div>     
    <div>
      <a href="/packages/createplantings" target="_blank">Create Plantings Package</a>
    </div>    
    <div>
      <a href="/packages/bulkcreateplantings" target="_blank">Create Multiple Plantings Packages</a>
    </div>   
    <div>
      <a href="/packages/adjust" target="_blank">Adjust a Package</a>
    </div>    
    <div>
      <a href="/packages/changeItem" target="_blank">Change a Packages Item</a>
    </div>   
    <div>
      <a href="/packages/finish" target="_blank">Finish a Package</a>
    </div>     
    <div>
      <a href="/packages/unfinish" target="_blank">Unfinish a Package</a>
    </div>      
    <div>
      <a href="/packages/remediate" target="_blank">Remediate a Package</a>
    </div>    
    <div>
      <a href="/packages/types" target="_blank">Package Types</a>
    </div>  
    <hr />
  </div>
  <div>
    <h3>
      Strains
    </h3>
    <div>
      <a href="/strains/active" target="_blank">Active Strains</a>
    </div> 
    <div>
      <a href="/strains/fetch" target="_blank">Fetch a Strain</a>
    </div> 
    <div>
      <a href="/strains/create" target="_blank">Create a Strain</a>
    </div>  
    <div>
      <a href="/strains/bulkcreate" target="_blank">Create Multiple Strains</a>
    </div> 
    <div>
      <a href="/strains/update" target="_blank">Update a Strain</a>
    </div> 
    <div>
      <a href="/strains/bulkupdate" target="_blank">Update Multiple Strains</a>
    </div> 
    <div>
      <a href="/strains/delete" target="_blank">Delete a Strain</a>
    </div> 
    <hr />
  </div>
</div>
{% endblock %}