{% extends "./layout.html" %}

{% block body %}
<h1>
  "metrc_wrapper" examples    
</h1>
<div>
  <div>
    <h3>
      Items
    </h3>
    <div>
      <a href="/items/active" target="_blank">Active Items</a>
    </div> 
    <hr />
  </div>
  <div>
    <h3>
      Packages
    </h3>
    <div>
      <a href="/packages/all" target="_blank">All Packages</a>&nbsp(This may timeout)
    </div>  
    <div>
      <a href="/packages/active" target="_blank">Active Packages</a>
    </div>  
    <div>
      <a href="/packages/inactive" target="_blank">Inactive Packages</a>
    </div>  
    <div>
      <a href="/packages/onhold" target="_blank">Onhold Packages</a>
    </div>  
    <div>
      <a href="/packages/fetch" target="_blank">Fetch a Package</a>
    </div>  
    <div>
      <a href="/packages/create" target="_blank">Create Package</a>
    </div>  
    <hr />
  </div>
</div>
{% endblock %}